Day-06-Social-Media-Content-Generator/Social Media Content Generator.json
{
  "name": "Social Media Content Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -16
      ],
      "id": "a94b93da-856d-4bb8-8da0-b814afa51c6f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"niche\": \"Web development\",\n  \"platform\": \"Instagram\",\n  \"content_type\": \"Carousel\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -16
      ],
      "id": "e4fd5ab5-178e-4024-9e4d-88c366e96ed4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert social media strategist.\n\nCreate content for:\n\nNiche: {{ $json.niche }}\nPlatform: {{ $json.platform }}\nType: {{ $json.content_type }}\n\nGenerate:\n\n1. Hook\n2. Main Content\n3. CTA\n4. SEO Optimized Caption\n5. 15 Relevant Hashtags",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        -16
      ],
      "id": "999836e6-70c3-4f72-83c5-af2fff887931",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        192
      ],
      "id": "e484558c-9870-4f08-87c9-5420612b61dd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n{\njson: {\ncontent: $json.text\n}\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -16
      ],
      "id": "dfe89d7c-75ae-40c2-8b51-aa6d42764b31",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "folderId": "1MdT_z2zMHwdph3Sn1eCYP04DtGSO-vRo",
        "title": "={{ $('Edit Fields').item.json.niche }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        592,
        -16
      ],
      "id": "80baae8a-a7ab-41f3-98f9-0e1d7306f732",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cCFXlfRd4oeU4Wo6",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "39a2a7cc-e011-8057-9c7e-f8ec45f2d5fe",
          "mode": "list",
          "cachedResultName": "AI Generated Blogs",
          "cachedResultUrl": "https://app.notion.com/p/39a2a7cce01180579c7ef8ec45f2d5fe"
        },
        "title": "={{ $('Edit Fields').item.json.niche }}",
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        800,
        -16
      ],
      "id": "722aa28a-bc23-4e59-968e-4c5c65a51b49",
      "name": "Create a database page",
      "credentials": {
        "notionOAuth2Api": {
          "id": "Uk2aOneQt6mVDHfL",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a2410c47-3b74-4832-8805-099a7783a663",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d111f22c3c5702eeeae49f3b9f0d96f23f1e4f6cbb3cc61bc21738b7f8ec7ce"
  },
  "nodeGroups": [],
  "id": "z8H8YkGCKYmvUbjn",
  "tags": []
}